In [5]:
import pymysql
import pandas as pd

In [2]:
DBHOST = 'localhost'   #mysql服务器ip地址
DBUSER = 'root'
DBPASS = '123456'
DBNAME = 'mysql'     # mysl中目标数据库名称

In [3]:
try:
    db = pymysql.connect(DBHOST,DBUSER,DBPASS,DBNAME)
    print('数据库连接成功！')
except pymysql.Error as e:
    print('数据库连接失败:'+str(e))

数据库连接成功！

In [8]:
# 读取mysql数据库中mysql库中db表数据
user = pd.read_sql('select * from db', db)
# 关闭连接
db.close()
user

,Host,Db,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Grant_priv,...,Alter_priv,Create_tmp_table_priv,Lock_tables_priv,Create_view_priv,Show_view_priv,Create_routine_priv,Alter_routine_priv,Execute_priv,Event_priv,Trigger_priv
0,%,test,,Y,Y,Y,Y,Y,Y,N,...,Y,Y,Y,Y,Y,Y,N,N,Y,Y
1,%,test\_%,,Y,Y,Y,Y,Y,Y,N,...,Y,Y,Y,Y,Y,Y,N,N,Y,Y
2,localhost,phpmyadmin,pma,Y,Y,Y,Y,N,N,N,...,N,N,N,N,N,N,N,Y,N,N

In [ ]:
# 打开数据库连接

db = pymysql.connect("localhost","testuser","test123","TESTDB" )
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
 
print ("Database version : %s " % data)
 
# 关闭数据库连接
db.close()